<!DOCTYPE html>
<html>
	<meta developer="Wongtanakarn, Sarun" />
	<link rel="stylesheet" type="text/css" href="css/fonts.css"/>
	<link rel="stylesheet" type="text/css" href="css/app.css"/>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<body>
		<div class="heading noselect">
			<div class="high-text">
				Ergonomics
			</div>
			<div class="high-text text-small" >
				Quiz - 1
			</div>
		</div>
		<div ng-app="myApp" ng-controller="myCtrl" class="panel noselect">

			<div class="hud">
				<i ng-if="layout != QUESTION && layout != EMPTY" class="fa fa-check-circle saved" aria-hidden="true"></i>
				<div class="hud-child">{{ getHUDPlayer() }}</div>
				<div class="hud-child">{{ getHUDScore() }}</div>
				<div class="hud-child">{{ getHUDConScore() }}</div>
				<div class="hud-child">{{ getHUDTimeLeft() }}s</div>
			</div>

			<div ng-if="layout == EMPTY">
				<div class="loading-panel">
					<img src="img/pacman.gif" class="loading"><br />
					Loading...
				</div>
			</div>

			<div ng-if="layout == GREETING || layout == WELCOME_BACK">
				<div class="rule-panel">
					<div ng-if="layout == GREETING">Hello !</div>
					<div ng-if="layout == WELCOME_BACK">Welcome back !</div>
					You have 1:30 minutes to answer the questions.<br />
					This icon (<i class="fa fa-check-circle sample-saved" aria-hidden="true"></i>) indicates that you are safe to close this webpage, <br />
					and resume the game later any time before <br /> November 30, 2016 23:59:59 BKK Time.<br />
					<br />
				</div>
				<button ng-click="play()" class="start-button"> Ready </button>
			</div>

			<div ng-if="layout == QUESTION">
				<div class="question">
					<div class="title">{{ question.TITLE }}</div>
					<img ng-if="question.Picture" class="picture" src="{{ question.Picture }}"/>
					<div class="choice-panel">
						<button class="choice">{{ question.Choice1 }}</button>
					<button class="choice">{{ question.Choice2 }}</button>
					<button class="choice">{{ question.Choice3 }}</button>
					<button class="choice">{{ question.Choice4 }}</button>
					</div>
				</div>
			</div>

			<div ng-if="layout == CORRECT">
				<i class="fa fa-smile-o green face" aria-hidden="true"></i>
				<div class="result result-green">CORRECT</div>

				<button ng-click="play()" class="next-button"> Next Question </button>
			</div>

			<div ng-if="layout == INCORRECT">
				<i class="fa fa-frown-o red face" aria-hidden="true"></i>
				<div class="result result-red">INCORRECT</div>

				<button ng-click="play()" class="next-button"> Next Question </button>
			</div>

			<div ng-if="layout == GAMEOVER">
				You have completed the game.
				Thank you for your participations.
				<button>Back to mainmenu</button>
			</div>

			<div ng-if="layout == SCOREBOARD">
				You have completed the game.
				Score: {{ 0 }} Pts.
				Max consecutive corrects: {{ 0 }} Questions.
			</div>

			<div ng-if="layout == ERROR">
				<center>
					<i class="fa fa-exclamation-circle error" aria-hidden="true"></i>
					<div class="error-message">{{ errorMessage }}</div>
				</center>
			</div>

		</div>
		<div class="credit">Crafted by: Wongtanakarn, Sarun</div>
	</body>
</html>
