<!DOCTYPE html>
<html>
	<meta developer="Wongtanakarn, Sarun" />
	<link rel="stylesheet" type="text/css" href="css/fonts.css"/>
	<link rel="stylesheet" type="text/css" href="css/app.css"/>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<body>
		<div class="heading noselect">
			<div class="high-text">
				Ergonomics
			</div>
			<div class="high-text text-small" >
				Quiz - 1
			</div>
		</div>
		<div ng-app="myApp" ng-controller="myCtrl" class="panel noselect">

			<div class="hud">
				<div class="hud-child">SWONGT2</div>
				<div class="hud-child">30</div>
				<div class="hud-child">30</div>
				<div class="hud-child">10.651150s</div>
			</div>

			<div class="question">
				<div class="title">Which is the best definition of the word "apopletic"?</div>
				<img class="picture" src="img/stretching-1.jpg"/>
				<div class="choice-panel">
					<button class="choice">Preaching</button>
					<button class="choice">Furious</button>
					<button class="choice">Incapacitated</button>
					<button class="choice">Cold</button>
				</div>
			</div>

			<i class="fa fa-smile-o green" aria-hidden="true"></i>
			<div class="result result-green">CORRECT</div>

			<i class="fa fa-frown-o red" aria-hidden="true"></i>
			<div class="result result-red">INCORRECT</div>

			<i class="fa fa-play i-small" aria-hidden="true"></i>
			<div class="result">Next Question</div>


			<div ng-if="layout != EMPTY && layout != ERROR && layout != SCOREBOARD && layout != GAMEOVER" class="stopwatch-panel">
				 Time Left (s): {{ calculateTimeLeft()/1000.0 }}

			</div>

			<div ng-if="layout == EMPTY">
				Loading..
			</div>

			<div ng-if="layout == GREETING || layout == WELCOME_BACK">
				<div ng-if="layout == GREETING">Hello, </div>
				<div ng-if="layout == WELCOME_BACK">Welcome back, </div>
				{{ timeLeft }} milliseconds left.
				<button ng-click="play()">play</button>
			</div>

			<div ng-if="layout == QUESTION">
				 {{ question.Title }}
				 {{ question.Picture }}
				 <button ng-click="answer(1)">{{ question.Choice1 }}</button>
				 <button ng-click="answer(2)">{{ question.Choice2 }}</button>
				 <button ng-click="answer(3)">{{ question.Choice3 }}</button>
				 <button ng-click="answer(4)">{{ question.Choice4 }}</button>
			</div>

			<div ng-if="layout == CORRECT">
				CORRECT !
				<button ng-click="play()">next</button>
			</div>

			<div ng-if="layout == INCORRECT">
				INCORRECT !
				<button ng-click="play()">next</button>
			</div>

			<div ng-if="layout == GAMEOVER">
				GAME OVER !
				Thanks for playing.
				<button>Scoreboard</button>
			</div>

			<div ng-if="layout == SCOREBOARD">
				Your score
			</div>

			<div ng-if="layout == ERROR">
				Something went wrong.. Please try again later.
				{{ errorMessage }}
			</div>

		</div>
		<div class="credit">Crafted by: Wongtanakarn, Sarun</div>
	</body>
</html>
